<html lang="en">
<head>

    <script src="../../public/js/dist/html2canvas.js"></script>
    <script src="../../public/js/jquery-1.11.2.min.js"></script>
</head>
<body>

<div>
    <img src="../../public/images/jobs_1.BMP" style="z-index: 200;position:relative">
</div>
<div>
    <img src="../../public/images/jobs_2.BMP" style="z-index: 100;margin-top: -280px;position: relative">
</div>
<div>
    <img src="../../public/images/jobs_3.BMP" style="z-index: 50;margin-top: -280px;position: relative">
</div>
<div>
    <img src="../../public/images/jobs_4.BMP" style="z-index: 40;margin-top: -280px;position: relative">
</div>
<div>
    <img src="../../public/images/jobs_5.BMP" style="z-index: 30;margin-top: -280px;position: relative">
</div>

<script>
    $(function () {
        html2canvas(document.body, {
            onrendered: function (canvas) {
                document.body.appendChild(canvas);
            },
            allowTaint: true,
            width: 300,
            height: 300
        });

    });

</script>


</body>
</html>