.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.img_refresh {*/
/*animation: mymove 3s;*/
/*-moz-animation: mymove 3s; /!* Firefox *!/*/
/*-webkit-animation: mymove 3s; /!* Safari 和 Chrome *!/*/
/*-o-animation: mymove 3s; /!* Opera *!/*/
/*animation-iteration-count: infinite;*/
/*animation-timing-function: linear;*/
/*height: 50px;*/
/*width: 50px;*/
/*}*/

#img_screen{
    padding-left: 0;
    padding-right: 0;
}


.form-group > div {
    margin-top: 7px;
}
