/* CSS Document */


/*公用*/
*{ margin:0; padding:0;}
body { font-family: Arial,"Microsoft YaHei"; font-size:14px; color:#1e1e1e; background:#f3f3f3;}
.body_white { background:#fff;}
h1,h2,h3,h4,h5,h6,strong { font-weight:normal; font-size:16px;}
ul,li { list-style:none;}
img { border:none;}
input { font-family:Arial,"Microsoft YaHei"; outline:none;}
input[type="button"],
input[type="submit"] { cursor:pointer;}
a { color:#e99200; text-decoration:none;}
progress { margin-right:5px; vertical-align:middle; height:10px; border:none; border-radius:5px; background-color:#e7e7e7; color:#ff6633; /*IE10*/}
progress::-moz-progress-bar { background: #ff6633; border-radius:5px; }
progress::-webkit-progress-bar { background: #dedede; border-radius:5px; }
progress::-webkit-progress-value  { background: #ff6633; border-radius:5px; }
.left { float:left; }
.right { float:right; }
.center { text-align:center;}
.clear { clear:both; }


/*进度条*/
progress { margin-right:5px; vertical-align:middle; height:10px; border:none; border-radius:5px; background-color:#e7e7e7; color:#ff6633; /*IE10*/}
progress::-moz-progress-bar { background: #ff6633; border-radius:5px; }
progress::-webkit-progress-bar { background: #dedede; border-radius:5px; }
progress::-webkit-progress-value  { background: #ff6633; border-radius:5px; }

.progress { display:inline-block; *zoom:1; *display:inline; margin-right:5px; vertical-align:middle; width:100px; height:10px; border:none; border-radius:5px; background-color:#e7e7e7; color:#ff6633; overflow:hidden;}
.progress span { display:block; height:100%; background: #ff6633; border-radius:5px;}

.progress_circle { display:inline-block; *zoom:1; *display:inline; width:40px; height:40px; line-height:40px; font-size:12px; text-align:center; background:url(../images/progress.png) no-repeat;}
.rate_0{ background-position:0 0;}
.rate_min{ background-position:-44px 0;}
.rate_1{ background-position:-88px 0;}
.rate_2{ background-position:-132px 0;}
.rate_3{ background-position:-176px 0;}
.rate_4{ background-position:-219px 0;}
.rate_5{ background-position:-263px 0;}
.rate_6{ background-position:-306px 0;}
.rate_7{ background-position:-350px 0;}
.rate_8{ background-position:-393px 0;}
.rate_9{ background-position:-437px 0;}
.rate_10{ background-position:-481px 0;}
.rate_11{ background-position:-524px 0;}
.rate_12{ background-position:-567px 0;}
.rate_13{ background-position:-611px 0;}
.rate_14{ background-position:-654px 0;}
.rate_15{ background-position:-698px 0;}
.rate_16{ background-position:-741px 0;}
.rate_17{ background-position:-785px 0;}
.rate_18{ background-position:-828px 0;}
.rate_19{ background-position:-872px 0;}
.rate_20{ background-position:-915px 0;}
.rate_100{ background-position:-959px 0;}


/*多选框*/
.checkbox { -webkit-appearance:none; -webkit-appearance:none; display: block; width:16px; height:16px; background:url(../images/checkbox_default.png) no-repeat;}
.checkbox:checked { background:url(../images/checkbox_checked.png) no-repeat;}


/*提示区*/
.alert_warning,
.alert_danger,
.alert_success {position: fixed;left: 50%;bottom: 50%; width: 400px; margin-left: -250px; text-align: center; padding: 5px 15px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.alert_warning {color: #c09853; background-color: #fbeed5; border: 1px solid #af8b4d;}
.alert_danger {color: #b94a48; background-color: #eed3d7; border: 1px solid #a64442;}
.alert_success {color: #468847; background-color: #d6e9c6; border: 1px solid #c4d7b8;}
.tips_nothing { margin-top:10px; padding:10px; background:#fcfcfc; color:#ccc; text-align:center;}
.tips_nothing_l { margin-top:10px; padding:100px; text-align:center;}
.tips_nothing_l i.ico_nothing { display:inline-block; background:url(../images/ico_nothing.png) no-repeat; width:160px; height:160px;}
.tips_nothing_l p { font-size:18px; line-height:36px;}
.tips_nothing_l [class^='btn_'] {padding:5px 20px;}

/*特殊文字*/
.t_left { text-align:left;}
.t_right { text-align:right;}
.t_center { text-align:center;}

.t_12 { font-size:12px !important;}
.t_20 { font-size:20px !important;}
.t_24 { font-size:24px !important;}
.t_26 { font-size:26px !important;}

.t_primy { color:#ff6633 !important;}
.t_warning { color:#e59d22 !important;}
.t_safe { color:#638c0b !important; }
.t_notimportant { color:#a0a0a0 !important;}
.t_important { color:#8f1313 !important;}


/*通用图标*/
.ico_ok { display:inline-block; margin-right:5px; width:24px; height:24px; background:url(../images/ico_ok.png) no-repeat; vertical-align:middle;}
.ico_warning { display:inline-block; margin-right:5px; width:24px; height:24px; background:url(../images/ico_warning.png) no-repeat; vertical-align:middle;}
.ico_msg { display:inline-block; margin-right:5px; width:24px; height:24px; background:url(../images/ico_msg.png) no-repeat; vertical-align:middle;}
.ico_money { display:inline-block; margin-right:5px; width:24px; height:24px; background:url(../images/ico_money.png) no-repeat; vertical-align:middle;}
.ico_withdraw { display:inline-block; margin-right:5px; width:24px; height:24px; background:url(../images/ico_withdraw.png) no-repeat; vertical-align:middle;}


/*按钮*/
*[class^="btn_"] {border-radius:5px;}
.btn_normal { display:inline-block; color:#fff; background: #646464; border:none; font-size:18px; text-align:center;}
.btn_normal:hover { background:#E6C388;}
.btn_primy { display:inline-block; background-color:#ed5725; border:none; color:#fff; font-size:18px; text-align:center;}
.btn_primy:hover { background-color:#f45a27;}
.btn_secondary { display:inline-block; background-color:#fff; border:1px solid #ed5725; color:#ed5725; font-size:18px; text-align:center;}
.btn_secondary:hover { background-color:#FFF8F1;}
.btn_info { display:inline-block; background-color: #e59d22; border:none; color:#fff; font-size:18px; text-align:center;}
.btn_info:hover { background-color:#e59d22;}
.btn_warning { display:inline-block; background-color:#8f1313; text-align:center;}
.btn_warning:hover {background-color:#7c161b;}
.btn_disabled { background:#969696; color:#fff; text-shadow:none; border:none; font-size:18px; text-align:center; cursor:text !important;}
.btn_disabled:hover {background-color:#969696;}


/*下拉菜单*/
.option { position:relative; display:inline-block; *zoom:1; *display:inline; width:100px; height:40px; line-height:40px; border:1px solid #e1e1e1; text-indent:10px; cursor:pointer;}
.option:hover ul { display:block;}
.option span { display:block; height:40px; background:url(../images/ico_arrow_bottom.png) no-repeat 90% 50%;}
.option ul { display:none; position:absolute; z-index:99; background:#fff;}
.option ul li { margin:-1px 0 0 -1px; border:1px solid #e1e1e1; line-height:40px; width:100px;}
.option ul li:hover { background:#f9f9f9;}

.option_l { width:300px;}
.option_l span { background-position: 280px 50%;}
.option_l ul li {width:300px;}


/*选项卡*/
.tab_01 { background:#f2ebd1; height:60px;}
.tab_01 a { display:inline-block; margin-top:12px; margin-right:5px; width:170px; line-height:48px; background:#f9f5e8; font-size:16px; color:#333333; text-align:center;}
.tab_01 a.active { background:#fff;}
.tab_01 span { display:inline-block; margin-top:12px; margin-right:5px; width:170px; line-height:48px; background:#fff; font-size:16px; color:#333333; text-align:center;}
.tab_01 i { display:inline-block; margin-right:8px; width:24px; height:24px; vertical-align:middle;}
.tab_01 i.ico_book { background:url(../images/ico_tab_book.png) no-repeat;}
.tab_01 i.ico_car { background:url(../images/ico_tab_car.png) no-repeat;}
.tab_01 i.ico_home { background:url(../images/ico_tab_home.png) no-repeat;}
.tab_01 i.ico_reg { background:url(../images/ico_tab_reg.png) no-repeat;}
.tab_01 i.ico_login { background:url(../images/ico_tab_login.png) no-repeat;}
.tab_01 i.ico_lock { background:url(../images/ico_tab_lock.png) no-repeat;}
.tab_01 i.ico_id { background:url(../images/ico_tab_id.png) no-repeat;}
.tab_01 i.ico_transfer { background:url(../images/ico_tab_transfer.png) no-repeat;}


.tab_02 { clear:both; margin: 60px -30px 30px -30px; padding-left:30px; background:#fcfcfc; height:48px;}
.tab_02 a { float:left; display:inline-block; padding: 0 10px; min-width:180px; line-height:48px; font-size:16px; color:#333333; text-align:center; border-left:1px solid #fff;}
.tab_02 a.active {border-bottom:3px solid #e99200; height:45px; color:#e99200;}
.tab_02 a.active i {background:url(../images/ico_tab_project_2.png) no-repeat;}
.tab_02 i { display:inline-block; margin-right:8px; width:24px; height:24px; background:url(../images/ico_tab_project.png) no-repeat; vertical-align:middle;}
.tab_02 i.ico_project_01 { background-position:0 0;}
.tab_02 i.ico_project_02 { background-position:-34px 0;}
.tab_02 i.ico_project_03 { background-position:-68px 0;}
.tab_02 i.ico_project_04 { background-position:-102px 0;}


.tab_03 { padding-top:20px;}
.tab_03 .wrapper { background:#fff; height:85px;}
.tab_03 a { display:inline-block; margin-top:20px; margin-right:5px; width:170px; line-height:48px;background: #f3f3f3; font-size:18px; color:#333333; text-align:center;}
.tab_03 a.active { background:#e59d22; color:#fff;}
.tab_03 a.active i { background-image :url(../images/tab_ico_active.png);}
.tab_03 i { display:inline-block; margin-right:8px; width:24px; height:24px; vertical-align:middle; background:url(../images/tab_ico_default.png) no-repeat;}
.tab_03 i.ico_book { background-position: 0 0;}
.tab_03 i.ico_car { background-position: -34px 0;}
.tab_03 i.ico_home { background-position: -68px 0;}
.tab_03 i.ico_transfer { background-position: -100px 0;}


/*表格*/
.table_01 { width:100%; border:none; border-collapse:collapse; font-size:16px; line-height:72px;}
.table_01 th,
.table_01 td { font-weight:normal; text-align:left; padding-left:30px; border-bottom:1px solid #e5e5e5;}
.table_01 thead th { height:40px; line-height:40px; background:#e59d22; color:#fff;}
.table_01 img { vertical-align:middle;}
.table_01 [class^="btn_"] { width:160px; height:30px; font-size:16px; text-shadow:none;}
.table_01 tbody tr th { position:relative;}
.table_01 tbody tr:hover th a,
.table_01 tbody tr:hover td { content:""; position:relative; z-index:1; left:0;}
.table_01 tbody tr:hover th:before { content:""; position: absolute; left:0; display:block; width:998px; height:70px; border:1px solid #e59d22;}


.table_02 { width:100%; border:none; border-collapse:collapse; font-size:14px; line-height:24px;}
.table_02 th,
.table_02 td { font-weight:normal; text-align:left; padding: 20px 0 20px 10px; border-bottom:1px solid #e5e5e5;}
.table_02 thead th { padding-top:20px; border-bottom-width:4px; color:#534d3a;}


.table_03 { width:100%; border:none; border-collapse:collapse; font-size:14px; line-height:40px;}
.table_03 th,
.table_03 td { font-weight:normal; text-align:left; padding-left:30px; border-bottom:1px solid #e5e5e5;}
.table_03 thead th { border-bottom-width:4px; color:#534d3a;}
.table_03 img { vertical-align:middle;}
.table_03 .btn_primy { width:120px; height:30px; font-size:16px; text-shadow:none;}


/*翻页*/
.page { padding:50px; text-align:center;}
.page li { display:inline-block; *zoom:1; *display:inline; margin-left:5px; border:1px solid #e1e1e1;}
.page li.active { background:#505050; color:#fff;}
.page li.active span,
.page a { display:block; padding: 0 10px; min-width:12px; line-height:32px; color:#858175;}
.page a:hover { background:#f1f1f1;}
.page li.active span { color:#fff;}


/*主体结构*/
.wrapper { width:1000px; margin:auto;}
#header { height:40px; line-height:40px; background: #81511c; font-size:16px; color:#fff;}
#header a { padding: 0 10px; color:#fff;}
#header a:hover { color:#FFD7D8;}
.header_ico_msg { display:inline-block; margin-right:5px; width:16px; height:16px; background:url(../images/header_ico_msg.png) no-repeat; vertical-align:middle;}
#header .customer { position:relative; margin-left:35px; }
#header .customer img { display:none;}
#header .customer:hover img { position:absolute; top:32px; left:0; z-index:999; display:inline-block;}


#menu { height:80px;background:#fff;}
#menu .logo { float:left;}
#menu ul { float:right; line-height:80px;}
#menu ul li { float:left; width:110px; text-align:center; font-size:16px;}
#menu ul li a { display:block; color:#1e1e1e;}
#menu ul li a i { display:inline-block; *zoom:1; *display:inline; margin-right:5px; width:18px; height:18px; vertical-align:-3px;}
#menu ul li a i.ico_01 { background-image:url(../images/nav_ico_01.png);}
#menu ul li a i.ico_02 { background-image:url(../images/nav_ico_02.png);}
#menu ul li a i.ico_03 { background-image:url(../images/nav_ico_03.png);}
#menu ul li a i.ico_04 { background-image:url(../images/nav_ico_04.png);}
#menu ul li a i.ico_05 { background-image:url(../images/nav_ico_05.png);}
#menu ul li a i.ico_06 { background-image:url(../images/nav_ico_06.png);}
#menu ul:hover li.active { border-bottom: none;}
#menu ul li a:hover,
#menu ul li.active {height:74px;border-bottom: 4px solid #81511c;}

#footer { padding:30px; height:160px; background: #81511c; color:#fff;}
#footer .copyright { float:left; padding: 20px 0; width:440px; height:120px; color:#fff; border-right:1px solid #be8119;}
#footer .prize { margin:10px 0;}
#footer .prize img { margin-right:10px; }
#footer .foot_link span { color:#b8790c; padding-right:10px;}
#footer .foot_link a { margin:10px 0; padding: 0 10px; border-left:1px solid #fff; color:#fff; }
#footer .contact { float:right; padding: 15px 0 25px 0; width:480px;}
#footer .contact dl { float:left; width:300px;}
#footer .contact dl dt { padding-bottom:20px; font-size:20px; }
#footer .contact dl dd { padding-bottom:20px;}
#footer .contact dl dd strong { font-size:28px;}


/*图标*/
.ico_tel { display:inline-block; background:url(../images/ico_tel.png) no-repeat; width:24px; height:24px; vertical-align: middle; margin-right:5px;}
.ico_msg { display:inline-block; background:url(../images/header_ico_weixin.png) no-repeat 50% 50%; width:24px; height:24px; vertical-align: middle; margin-right:5px;}


/*首页*/
#banner { width:100%; height:500px;}
#banner [class^="banner_page_"] {display:block; position:absolute; top:340px; z-index:99; width:38px; height:38px; cursor:pointer;}
.banner_page_left { left:50%; margin-left:-500px; background:url(../images/banner_page_left.png) no-repeat;}
.banner_page_left:hover { background:url(../images/banner_page_left_hover.png);}
.banner_page_right { right:50%; margin-right:-500px; background:url(../images/banner_page_right.png) no-repeat;}
.banner_page_right:hover { background:url(../images/banner_page_right_hover.png);}
#banner_list { position:relative; width:100%; height:100%;}
#banner_list a { display:block; position:absolute; width:100%; height:100%; overflow:hidden;}
#banner_list a img { position:absolute; left:50%; margin-left:-800px;}
#point_list { position:absolute; top:580px; width:100%; text-align:center;}
#point_list span { display:inline-block; margin-right:10px; width:32px; height:32px; background:url(../images/banner_point.png) no-repeat; cursor:pointer;}
#point_list span.active { background-image:url(../images/banner_point_active.png);}

.notice { height:120px; background:#fff; font-size:16px;}
.notice i { display:inline-block; *zoom:1; *display:inline; margin-right:5px; width:24px; height:24px; vertical-align:middle;}
.notice i.ico_01 { background:url(../images/home_ico_BC.png) no-repeat;}
.notice i.ico_02 { background:url(../images/home_ico_money.png) no-repeat;}
.notice i.ico_03 { background:url(../images/home_ico_interests.png) no-repeat;}
.notice_info { margin-bottom:10px; height:50px; line-height:50px; border-bottom:1px solid #e5e5e5;}
.notice_info ul { display:inline-block; *zoom:1; *display:inline; width:800px; height:50px; vertical-align:middle; overflow:hidden;}
.count_info { float:left; padding:10px; width:468px; height:26px; border:1px solid #e5e5e5; text-align:center;}

.home h1 { font-size:28px; line-height:75px; font-weight:normal;}
.home h1 i { display:inline-block; width:38px; height:38px; vertical-align:middle;}
.home h1 i.home_ico_01 { background:url(../images/home_ico_01.png) no-repeat;}
.home h1 i.home_ico_02 { background:url(../images/home_ico_02.png) no-repeat;}
.home h1 i.home_ico_03 { background:url(../images/home_ico_03.png) no-repeat;}

.home_cont { height:440px;}
.home_cont .wrapper { position:relative;}
.home_pic_01 { float:left; width:230px; height:357px; background: #79c7ff url(../images/home_pic_01.png) no-repeat center bottom;}
.home_cont dl { float:left; margin-left:-1px; padding:0 30px; width:195px; height:355px; background:#fff; border:1px solid #e5e5e5;}
.home_cont dl dt { font-size:24px;}
.home_cont dl dt p { padding:30px 0 5px 0;}
.home_cont dl dd {padding-top:10px; font-size:16px; line-height:30px; color:#646464; text-align:center;}
.home_cont dl dd.text { height:120px; text-align:left;}
.home_cont dl dd.info > div { display:inline-block; *zoom:1; *display:inline; margin:10px 0; padding: 0 10px;}
.home_cont dl dd.info > div:first-child { border-right:1px solid #c3c4c4;}
.home_cont dl dd [class^="btn_"] { width:160px; height:30px;}

.home_cont_2 { padding:75px 0 20px 0;}
.home_cont_2  .wrapper { background:#fff;}
.home_cont_2 h1 { position:absolute; margin-top:-75px; margin-bottom:10px; font-size:28px; font-weight:normal;}
.product_list { display:inline-block; margin-bottom:20px; padding:20px; width:958px; border: 1px solid #dcdcdc;}
.product_list:hover { border: 1px solid #ed5725;}
.product_list h2 { margin:-20px -20px 0 -20px; padding:20px 20px 10px 20px; font-size:24px; border-bottom:1px solid #dcdcdc;}
.product_list h2 .right { margin-top:-15px;}
.product_list h2 .right .text { font-size:14px; }
.product_list h2 .right .price { display:inline-block; margin-right:5px; text-align:right; font-size:48px; color:#e82310;}
.product_list h2 .right .price span { font-size:24px;}
.product_list .li_l { float:left; width:520px;}
.product_list .li_l li { float:left; width:30%; margin:25px 0 0 0; font-size:16px;}
.product_list .li_l li strong { display:block; font-size:28px; color:#ed5725;}
.product_list .li_m { float:left; padding-top:30px; width:250px;}
.product_list .li_m p { margin-bottom:5px; width:180px; font-size:16px;}
.product_list .li_m p span { font-size:14px; margin-top:5px;}
.product_list .li_m progress { width:180px;}
.product_list .li_r { float:right; margin-top:40px; }
.product_list .li_r input { display:block; width:160px; height:30px;}
.list_more { margin-top:-20px; clear:both; text-align:center; line-height:60px;}
.list_more a { display:inline-block; *zoom:1; *display:inline; color:#666; }
.list_more i { display:inline-block; background:url(../images/ico_arrow_right.png) no-repeat; width:8px; height:8px; *vertical-align:-8px;}

.home_cont_3 { background:#fff; height:180px;}
.friend_list { position:relative; padding: 0 40px;}
.friend_list [class^="btn_"] { display:block; position:absolute; top:26px; z-index:99; width:38px; height:38px; }
.friend_list .btn_pre { left:50%; margin-left:-500px; background:url(../images/btn_pre.png) no-repeat 50%;}
.friend_list .btn_next { right:50%; z-index:99; margin-right:-500px; background:url(../images/btn_next.png) no-repeat 50%;}
.friend_list * { transition: all 1s;}
.friend_list > div { width:100%; overflow:hidden;}
.friend_list ul { width:25000px; height:100px;}
.friend_list li { display:block; position:relative; float:left; width:210px; height:80px; margin-right:23px; border:1px solid #dcdcdc;}
.friend_list li img { max-width:200px; max-height:70px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}

.home_aside { position: absolute; right:50%; bottom:480px; margin-right:-570px; width:50px; height:50px;}
.home_aside a { display:block; width:50px; height:50px; margin-bottom:10px; background:url(../images/ico_float_normal.png) no-repeat;}
.home_aside a:hover { background:url(../images/ico_float_hover.png)  no-repeat;}
.home_aside a.ico_gotop { background-position: 0 0;}
.home_aside a.ico_qq { background-position: 0 -60px;} 
.home_aside a.ico_help { background-position: 0 -120px;} 
.home_aside a.ico_book { background-position: 0 -180px;} 


/*注册登录*/
.login .wrapper { margin-bottom:20px; min-height:680px; background:#fff;}
.login .form { float:left; padding-top:90px; margin-left:80px;}
.login .form a.right { float:none; position:relative; left:160px;}

.form { }
.form > div { padding: 8px 0 8px 120px; line-height:40px; min-height:40px;}
.form > div label { float:left; display:inline-block; margin-left:-120px; width:120px; font-size:16px;}
.form > div input[type="text"] { padding:10px; width:280px; height:20px; border:1px solid #e1e1e1;}
.form > div input[type="password"] { padding:10px; width:280px; height:20px; border:1px solid #e1e1e1;}
.form > div .btn_primy { width:300px; height:40px;}
.form > div p { line-height: 24px;}
.input_s { width:130px !important;}
.btn_ic { width:150px; height:42px; color:#fff; background:#e59d22; border:none; border-radius:0; vertical-align:middle;}
.btn_ic:hover { background:#b2a997;}

.login .cont_r { float:right; margin-top:10px; padding-top:100px; width:260px; height:480px; text-align:center; border-left: 1px solid #e1e1e1;}
.login .cont_r:after { content:""; display:block; height:0; visibility:hidden; clear:both; } 


/*忘记密码*/
.findpsw .wrapper { margin-bottom:20px; min-height:600px; background:#fff;}
.fpsw_progress { margin:auto; padding:80px; width:624px;}
.step_pic { width:100%; height:40px;}
.step ul { position:relative; margin-top:5px;}
.step ul li { float:left; position:relative;}
.step ul li.one { left:-30px;}
.step ul li.two { left:185px;}
.step ul li.three { left:410px;}

.fpsw_progress .step_01 .step_pic{ background:url(../images/login_progress.png) no-repeat top;}
.fpsw_progress .step_01 ul li.one { color:#8f1313;}
.fpsw_progress .step_02 .step_pic{ background:url(../images/login_progress.png) no-repeat 50%;}
.fpsw_progress .step_02 ul li.one,
.fpsw_progress .step_02 ul li.two { color:#8f1313;}
.fpsw_progress .step_03 .step_pic{ background:url(../images/login_progress.png) no-repeat bottom;}
.fpsw_progress .step_03 ul li.one,
.fpsw_progress .step_03 ul li.two,
.fpsw_progress .step_03 ul li.three { color:#8f1313;}

.findpsw .form { margin:auto; width:310px;}
.findpsw .form > div { padding-left:0;}


/*实名认证*/
.band_id .wrapper { margin-bottom:20px; min-height:600px; background:#fff;}
.band_id .form { margin: auto; padding-top:60px; width:490px;}


/*我要投资*/
.project_list { margin-bottom:20px;}
.project_list .wrapper { background:#fff;}
.ico_up { display:inline-block; margin-right:8px; background:url(../images/ico_up.png) no-repeat; width:24px; height:24px; vertical-align:middle;}


/*投资详情*/
.detail_page { margin-bottom:20px;}
.detail_page .wrapper { margin-top:-50px; padding:60px 30px; width:940px; background:#fff;}

.project_summary { float:left; width:560px;}
.project_summary dl { height:200px; border-bottom: 1px solid #f8f8f8;}
.project_summary dl dt { margin-bottom:10px; height:65px; border-bottom: 1px solid #f8f8f8;}
.project_summary dl dt > div { display:inline-block; *zoom:1; *display:inline; vertical-align:-18px;}
.project_summary dl dt span { font-size:14px;}
.project_summary dl dt p { font-size:14px;}
.project_summary dl dd { float:left; padding:30px 0; width:30%;}
.project_summary dl dd strong { display:block;}
.project_summary dl dt,
.project_summary dl strong {font-size:24px;}
.tip_label { display:inline-block; background:url(../images/tips_ticket.png) no-repeat; width:90px; line-height:20px; color:#fff; font-size:12px; text-align:center; vertical-align:3px;}
.project_summary ul { clear:both; margin-top:20px; padding-left:20px; height:60px; background:#f6f6f6;}
.project_summary ul li { float:left; width:33%; line-height:60px;}

.project_summary > div { clear:both; line-height:30px; background:#f5faeb; color:#638c0b; text-align:center;}
.ico_safe { display:inline-block; margin-right:5px; background:url(../images/ico_safe.png) no-repeat; width:16px; height:16px; vertical-align:middle;}

.investment { margin-bottom:60px; float:right; width:350px; height:280px; background:#f6f6f6;}
.investment ul.top { padding:10px 0; background:#eaeaea; line-height:24px; height:45px;}
.investment ul.top li { float:left; width:33%; text-align:center;}
.form_4 { color:#656565;}
.form_4 > div { padding:10px 20px; height:36px;}
.form_4 > div:first-child .left { line-height:36px; font-size:16px;}
.btn_num input[type="text"] { float:left; padding:5px; width:84px !important; height:20px; border:1px solid #e1e1e1;}
.btn_num input[type="button"] { float:left; margin: 0 -1px; width:32px; height:32px; line-height:32px; font-size:24px; color:#a0a0a0; background:#eaeaea; border:1px solid #e1e1e1;}
.form_4 label.t_primy { display:block; margin:-10px 0 0 170px; padding-bottom:10px; width: 160px; line-height:24px; text-align:center;}
.form_4 ul.use_ticket li { margin-top:-1px; padding: 0 20px;  line-height:36px; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}
.form_4 ul.use_ticket li a { display:block; background:url(../images/ico_goto_red.png) no-repeat right 50%; color:#656565;}
.form_4 [class^="btn_"] { width:160px; height:30px;}


.investment_progress { position:relative; margin-bottom:60px; float:right; width:350px; height:240px; background:#f6f6f6;}
.investment_progress ul { margin:40px auto 0 auto; width:320px; height:60px;}
.investment_progress ul li { float:left; margin:2%; width:29%; text-align:center;}
.investment_progress .step_pic { margin: 0 auto; background:url(../images/project_progress.png) no-repeat; width:240px; height:18px;}
.investment_progress .step_02 .step_pic { background-position: 0 -18px;}
.investment_progress .step_03 .step_pic { background-position: 0 -36px;}
.investment_progress .btn_disabled { position:absolute; left:120px; top:150px; width:120px; height:30px;}

.detail_info { display:inline-block; width:100%; line-height:36px;}
.detail_info .cont { float:left; width:560px;}
.detail_info .cont li { padding-left:20px; border-bottom:1px solid #f8f8f8;}
.detail_info .prove { float:right; margin-top:-10px; padding:10px 20px; width:310px; background:#fdfdfd;}
.detail_info .prove .t_safe,
.detail_info .prove .t_primy { margin: 0 10px;}
.ico_ok_s { display:inline-block; background:url(../images/ico_ok_s.png) no-repeat; width:20px; height:20px; vertical-align: middle;}
.ico_warning_s { display:inline-block; background:url(../images/ico_warning_s.png) no-repeat; width:20px; height:20px; vertical-align: middle;}

.table_04 { margin-top:-20px; width:100%; border:none; border-collapse:collapse; font-size:14px; line-height:24px;}
.table_04 th,
.table_04 td { font-weight:normal; text-align:left; padding: 5px 0 5px 10px; border:1px solid #e5e5e5;}
.table_04 th { padding-left:0; width:100px; background:#fcfcfc;text-align:center;}

.qualification_2  { position:relative; padding: 0 40px;}
.qualification_2 * { transition: all 1s;}
.qualification_2 > img { position:absolute; top:50px; cursor:pointer;}
.qualification_2 > img.btn_pre { left:0;}
.qualification_2 > img.btn_next { right:0;}
.qualification_2 > div { width:100%; overflow:hidden;}
.qualification_2 ul { width:25000px; height:150px;}
.qualification_2 li { float:left; margin-right:20px; width:200px;}
.qualification_2 li img { width:100%; height:150px;}
.qualification_2 p { display:block; position:relative; z-index:1; margin-top:-28px; background: url(../images/pic_mask.png); width:100%; line-height:28px; text-align:center; color:#fff;}

.mask { position:fixed; left:0; top:0; z-index:998; width:100%; height:100%; background:rgba(0,0,0,.75);}
.mask_close { position: absolute; top:0; right:0; z-index:999; width:40px; height:40px; background:#000; font-size:40px; text-align:center; line-height:40px; color:#fff; cursor:pointer;}
.mask > div { position:relative; top:10%; margin:auto; width:800px; height:480px; text-align:center; background:#333;}
.mask > div img { max-width:100%; max-height:100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.mask > div p { margin:auto; position:absolute; bottom:-40px; line-height:40px; width:100%; background:#222; background:rgba(0,0,0,.75);  color:#fff;}
.mask > div [class^="mask_page_"] { display:block; position:absolute; top:50%; z-index:99; width:38px; height:38px; cursor:pointer;}
/*.mask > div:hover [class^="mask_page_"] { display:block;}*/
.mask_page_left { left:50%; margin-left:-400px; background:url(../images/banner_page_left.png) no-repeat;}
.mask_page_left:hover { background:url(../images/banner_page_left_hover.png);}
.mask_page_right { right:50%; margin-right:-400px; background:url(../images/banner_page_right.png) no-repeat;}
.mask_page_right:hover { background:url(../images/banner_page_right_hover.png);}


/*选择加息券*/
.project_step { margin:20px 0;}
.project_step .wrapper { padding: 30px 20px; width:960px; min-height:600px; background:#fff;}
.project_step h1 { line-height:40px; font-size:20px; border-bottom:1px solid #f0f0f0;}
.right_list dl { position:relative; margin-top:15px; padding:20px 0 20px 20px; background:#f6f6f6;}
.right_list dl dt { float:left; margin-top:-5px;}
.right_list dl dd { margin-left:280px; line-height:22px;}
.right_list dl dd [type="checkbox"] { position: absolute; right:40px; top:45px;}
.ticket { position:relative; top:3px; left:40px; padding:10px; width:155px; height:50px; color:#fff;}
.ticket span { display:block; width:120px; text-align:center;}
.ticket span strong { font-size:24px;}
.ticket span.right { position:absolute; right:10px; top:10px; width:20px; line-height:16px;}
.ticket_active { background:url(../images/ticket_bg_active.png) no-repeat;}
.ticket_disable { background:url(../images/ticket_bg_disable.png) no-repeat;}

.project_step .btn_area { padding:30px 0; text-align:right;}
.project_step .btn_area [class^="btn_"] { margin-left:20px; width:160px; height:30px;}

.use_ruler { padding:20px; background:#f6f6f6; border-radius:10px;}
.use_ruler dl dt { font-size:18px; line-height:40px;}
.use_ruler dl dd { font-size:14px; line-height:36px;}
.use_ruler table { margin-top:20px; background:#fff;}

.table_05 { margin-top:-20px; width:100%; border:none; border-collapse:collapse; font-size:14px; line-height:24px;}
.table_05 th,
.table_05 td { font-weight:normal; text-align:left; padding: 5px 0 5px 10px; border:1px solid #e5e5e5;}
.table_05 th { padding-left:0; width:100px; background:#fcfcfc;text-align:center;}


/*我的账户*/
.user_account { margin-bottom:20px;}
.user_account .wrapper { margin-top:-50px; min-height:600px; background:#fff;/* overflow:hidden;*/}
.account_l { float:left; width:210px; border-right:1px solid #eaeaea;/* height:2500px; margin-bottom:-1700px;*/}
.user_basic { padding:40px 18px; border-bottom:1px solid #eaeaea;}
.user_basic progress { width:140px; height:8px;}
.user_basic p { line-height:24px; padding-bottom:5px;}
.user_money { padding:40px 18px; border-bottom:1px solid #eaeaea;}
.user_money p { line-height:24px;  padding-bottom:5px;}

.user_money a { width:80px; line-height:30px; font-size:14px; text-shadow:none;}
.submenu ul li { line-height:50px; border-bottom:1px solid #eaeaea;}
.submenu ul li a { display:block; padding-left:20px; font-size:16px; color:#858175;}
.submenu ul li a:hover { background:#f9f9f9;}
.submenu ul li.active a { border-left:4px solid #c0b5a3; padding-left:16px; background:#f9f9f9;}

.account_r { margin: 0 30px 0 240px; padding-bottom:40px;}
.account_r:after{ content:"."; display:block; height:0; visibility:hidden; clear:both; } 
.account_r > h1,
.account_r > h2 { padding:40px 10px 10px 10px; border-bottom:1px solid #f3f3f3;}
.account_r h1 a,
.account_r h2 a { float:right; color:#858175; font-size:14px;}
.account_r h2 a i { margin-left:5px; display:inline-block; background:url(../images/ico_arrow_right.png) no-repeat; width:8px; height:8px;}

.account_info { width:100%; height:185px; background:#f3f3f3;}
.account_info dl {float:left; margin-left:-1px; padding:10px 0; width: 33%; height:100%; border-left:1px solid #fff;}
.account_info dl dt {padding: 10px 0 0 20px;}
.account_info dl dd { padding-left:20px; font-size:14px; line-height:20px;}
.account_info dl dd .btn_normal { width:120px; line-height:30px;}
.account_info .money { padding:10px 10px 10px 15px; font-size:24px; color:#535353;}


.my_right { width:100%; overflow:hidden;}
.my_right li { padding:0 20px; line-height:50px; background:#f6f6f6; border-radius:10px; margin-top:10px;}
.my_right li:hover { background:#e1e1e1;}
.my_right li a { display:block; font-size:16px; color:#505050; background:url(../images/ico_goto_red.png) no-repeat right center;}
/*.my_right_all { background:#fff;}
.my_right_all dl { border-bottom:1px solid #f3f3f3;}*/

.my_friend { margin-bottom:20px; padding:10px; background:#f3f3f3;}
.my_friend li { line-height:30px;}
.my_friend li span { margin-left:30px;}
.my_friend_all { padding: 0; background:#fff;}
.my_friend_all li { padding-left:10px; border-bottom:1px solid #f3f3f3; line-height:40px;}


.table_06 { margin-top:10px; width:100%; border:none; border-collapse:collapse; font-size:16px; line-height:30px; border:1px solid #f0f0f0;}
.table_06 th,
.table_06 td { font-weight:normal; text-align:center; padding:5px 5px; border-bottom:1px solid #f0f0f0; white-space: nowrap;}
.table_06 th { min-width:40px; background:#fcfcfc; text-align:center;}
.table_06 [class^="ico_view_"] { display:inline-block; margin-left:5px; width:22px; height:14px; vertical-align:middle; cursor:pointer;}
.ico_view_disable { background:url(../images/ico_view_disable.png);}
.ico_view_active { background:url(../images/ico_view_active.png);}

.table_06 td:hover { position:relative}
.table_06 td:hover .view_area { display:block;}
.view_area { display:none; position:absolute; top:-10px; right:45px; z-index:99; padding: 30px 20px 20px 20px; width:320px; background:#f0f0f0; border:1px solid #cbcbcb; text-align:left; line-height:24px;}
.view_area i.view_arrow_right { position:absolute; top:20px; right:-13px; display:inline-block; width:13px; height:14px; background:url(../images/view_arrow_right.png) no-repeat; }
.view_area ul { border-left:1px solid #ed5725;}
.view_area ul li { position:relative; margin-left:-6px; margin-bottom:10px; padding-left:30px; background:url(../images/view_ico_list.png) no-repeat 0px 5px;}
.view_area ul li:first-child { top:-8px;}
.view_area ul li:last-child { bottom:-8px;}
.view_area i.ico_view_ok { display:inline-block; float:right; margin-top:-12px; background:url(../images/view_ico_ok.png) no-repeat; width:24px; height:24px;}


/*我的卡包*/
.my_cards { margin:20px 0;}
.my_cards .wrapper { padding: 30px 20px; width:960px; min-height:600px; background:#fff;}
.my_cards h1 { line-height:40px; font-size:20px; border-bottom:1px solid #f0f0f0;}
.my_cards .tab_03 { padding-top:0;}


/*自动投标*/
.article { padding:10px 10px 40px 10px; line-height:24px;}
.article p { margin-top:24px;  text-indent:28px;}
.article ol li { text-indent:28px;}


/*安全设置*/
.safety_setting { line-height:80px;}
.safety_setting li { border-bottom:1px solid #eaeaea; height:80px;}
.safety_setting li > * { float:left;}
.safety_setting li i { margin: 28px 0 0 20px;}
.safety_setting li h2 { margin-left:20px; width:140px; font-size:14px;}
.safety_setting li .s_explain {}
.safety_setting li .operation { float:right; margin-right:20px; text-align:right; color:#f39800;}



/*投资管理*/
.summary_info { padding:10px; background:#f3f3f3; line-height:24px;}
.btn_download { display:inline-block; width:24px; height:24px; background:url(../images/ico_download.png) no-repeat 50% 50%; border:none;}


/*项目转让*/
.transfe { margin: 40px 0 0 190px;}
.form_2 > div { padding-left:120px; line-height:48px;}
.form_2 > div label { display:inline-block; margin-left:-120px; width:120px; font-size:14px;}
.form_2 > div input[type="text"] { padding:10px; width:280px; height:20px; border:1px solid #e1e1e1;}
.form_2 .btn_primy { width:120px; height:40px;}


/*充值提现*/
.summary_info_2 { padding:10px; background:#f3f3f3; height:100px; line-height:30px;}
.text_div_01 { float:left; padding:20px 10px; width:140px;}
.text_div_02 { float:left; padding:20px 10px; border-left:1px solid #e3e3e3;}
.text_div_03 { float:right; margin-top:30px;}
.text_div_03 a { width:120px; height:40px; line-height:40px; text-shadow:none;}
.btn_withdraw { display:inline-block; *zoom:1; *display:inline; color:#fff; background: #646464 url(../images/ico_withdraw.png) no-repeat 20px 50%; text-indent:20px; border:none; font-size:16px; text-align:center; width:120px; height:40px;}
.btn_withdraw:hover { background-color:#E6C388;}
.btn_money { display:inline-block; *zoom:1; *display:inline; background: #e59d22 url(../images/ico_money.png) no-repeat 20px 50%; text-indent:20px; border:none; color:#fff; font-size:16px; text-align:center; width:120px; height:40px;}
.btn_money:hover { background-color:#e99200;}


/*充值*/

.text_div_04 { padding:20px 10px 0 10px; line-height:24px;}
.tips_div { margin-top:30px; padding:30px 20px; background:#f7f4e7;}
.tips_div dt { padding-bottom:10px;}
.tips_div dd { padding: 0 0 10px 14px; background:url(../images/ico_dot.png) no-repeat 3px 9px;}
.tips_div dd ol li { padding-top:10px;}
.form_3 { padding: 30px 0 0 10px; }
.form_3> div { padding-left:120px; line-height:60px; height:70px;}
.form_3 > div.row { padding-left:0;}
.form_3 > div label { display:inline-block; margin-left:-120px; width:120px; font-size:16px;}
.form_3 > div input[type="text"] { padding:10px; width:280px; height:20px; border:1px solid #e1e1e1;}
.form_3 > div input[type="button"],
.form_3 > div input[type="submit"] { width:120px; height:40px;}


/*银行卡管理*/
.card_div { margin:auto; padding-top:30px; width:376px; height:232px; }
.card_plus { position:relative; width:376px; height:232px;  background:url(../images/card_plus.png) no-repeat;cursor:pointer;}
.btn_card_plus { position:absolute; top:105px; left:125px; background:url(../images/ico_card_plus.png) no-repeat; width:140px; height:24px; color:#f39800; border:none;}
.card_cont { position:relative; width:376px; height:232px;  background:url(../images/card_bg.png) no-repeat;}
.card_cont .tips { position:absolute; top:15px; right:10px;}
.card_ico_ok { display:inline-block; background:url(../images/card_ico_ok.png) no-repeat; width:24px; height:24px; vertical-align:middle;}
.card_cont dt { padding:15px 10px 35px 10px; line-height:24px;}
.card_cont dt img { vertical-align:middle;}
.card_cont dd { padding: 0 10px 10px 30px;}
.card_cont dd strong { display:inline-block; width:72px; font-size:14px;}
.card_cont .right { padding:25px 10px 0 0;}


/*消息中心*/
.msg_center {}
.msg_center li { padding:15px 10px 25px 10px; border-bottom:1px solid #eaeaea;}
.msg_center li i { position:absolute;  margin: 18px 0 0 0;}
.msg_center li h2 { margin-left:40px; padding:10px 0 5px 0; font-size:14px;}
.msg_center li p { margin-left:40px;}


/*关于我们*/
.about_div { margin-bottom:20px;}
.about_div .wrapper { margin-top:-50px; min-height:600px; background:#fff; overflow:hidden;}
.about_l { float:left; width:210px; border-right:1px solid #eaeaea; height:2500px; margin-bottom:-1700px;}

.about_r { margin-left:240px; margin-right:30px; padding-bottom:50px; font-size:16px; line-height:36px;}
.about_r:after { clear:both; content:""; display:block;}
.about_r > h1 { margin-bottom:30px; padding:40px 10px 10px 10px; border-bottom:1px solid #f3f3f3; line-height:24px;}
.about_r h1 span { margin-left:10px; color: #e59d22;}
.about_r .mng_team ul { margin:40px 20px;}
.about_r .mng_team ul li { display:inline-block; margin-bottom:50px; width:100%;}
.about_r .mng_team ul li img { float:left;}
.about_r .mng_team ul li h2 span { display:inline-block; margin-right:10px; padding: 0 20px; background:#e59d22; font-size:24px; color:#fff;}
.about_r .mng_team ul li h2 { margin-left:240px; padding-top:32px; font-size:20px; color:#e59d22;}
.about_r .mng_team ul li p { margin-left:240px;}

.about_company h2 { margin: 30px 0 10px 0;}
.about_company h2 span { display:inline-block; padding: 0 20px; background: #e59d22; color:#fff;}
.about_company p strong { color: #e59d22;}

.qualifications { text-align:center;}
.qualifications p { margin: 10px 0 30px 0;}

.partners > img { display:block; margin: 40px auto 10px auto;}
.partners p strong { color:#e8a37a;}

.contact_us dl { margin: 0 0 30px 10px;}
.contact_us dl dt span { display:inline-block; padding: 0 20px; background: #f1b13e; font-size:24px; color:#fff;}
.contact_us dl dt span.blue { background: #3d92d7;}

.safe_cont img { margin-bottom:30px;}

.recruiting { margin: 30px 0 10px 0;}
.recruiting h2 { margin:30px 0 10px 0;}
.recruiting h2 span { display:inline-block; padding: 0 20px; background: #f16b08; font-size:20px; color:#fff;}
.recruiting h3 { margin-left:20px; color: #f16b08;}
.recruiting ul { margin-left:20px;}
.recruiting .bg_blue { background: #3383c1;}
.recruiting .t_blue { color: #3383c1;}
.recruiting .bg_yellow { background: #eeb20b;}
.recruiting .t_yellow { color: #eeb20b;}
.recruiting .bg_green { background: #32b16c;}
.recruiting .t_green { color: #32b16c;}


/*帮助中心*/
.help_banner { height:200px; background: url(../images/help/help_banner_02.png) no-repeat center;}
.help_div  { margin-bottom:20px;}
.help_div h1 { padding:20px; font-size:24px; border-bottom: 2px solid #cdcdcd;}

.help_tab { clear:both; margin-top:70px;height: 240px; font-size:24px; text-align:center; border-bottom: 2px solid #3e99df;}
.help_tab li { float:left; margin-bottom:-2px; width:25%;height: 242px;}
.help_tab li.active { background: url(../images/help/help_option_arrow.png) no-repeat center bottom;}
.help_tab li a { color:#333;}
.help_tab li i { display:block; margin: 0 auto 10px auto; width:120px; height:120px;}
.help_ico_01 { background:url(../images/help/help_ico_01.png) no-repeat;}
.help_ico_02 { background:url(../images/help/help_ico_02.png) no-repeat;}
.help_ico_03 { background:url(../images/help/help_ico_03.png) no-repeat;}
.help_ico_04 { background:url(../images/help/help_ico_04.png) no-repeat;}
.help_ico_building { background:url(../images/help/help_ico_building.png) no-repeat;}

.help_tab_02 { clear:both; margin-top:20px; width:720px; height:80px;}
.help_tab_02 li { float:left; width:358px; line-height:78px; font-size:20px; text-align:center;}
.help_tab_02 li a { display:block; color:#333; background:#e5e5e5; border:1px solid #c9c9c9;}
.help_tab_02 li.active a { background:#ff6633; color:#fff; border:1px solid #ff6633;}

.login_step { font-size:22px; color:#ff6633; }
.login_step img { float:left; margin-left:115px; margin-top:30px;}
.login_step ul { float:left; margin-top:80px; margin-left:64px;}
.login_step ul li { height:240px;}

.help_cont { padding: 20px 0 50px 0; font-size:18px; line-height:34px;}
.help_cont:after { clear:both; display:block; height:0; content:""; visibility:hidden;}
.help_cont h2 { margin-top:10px; padding: 0 15px; background:#f7f7f7; line-height:60px; font-size:18px;}
.help_cont p { display:none; margin-top:-1px; padding: 20px 15px; color:#3e99df; border: 1px solid #f0f0f0; border-top:0; background:#fff; }
 

/*.help_cont_2 { margin-top:20px; margin-bottom:30px; font-size:16px; line-height:20px; border-radius:5px; overflow:hidden;}
.help_cont_2 h2 { padding:15px 30px; background:#edf4f6; font-size:14px; color:#2182cc;}
.help_cont_2 p { padding:10px 30px; background:#dcdcdc; font-size:12px;}*/


.aside { position:absolute; right:0; top:560px; padding:20px; font-size:16px; transition: top 0.5s;}
.aside dl { margin-bottom:20px; padding-left:24px; background: url(../images/help/help_ico_aside.png) no-repeat left 30px; line-height:24px;}
.aside dl dt { margin-left:-24px;  color:#2fa8d7;}
.aside dl dd { font-size:14px;}
.aside p { margin-bottom:10px;}
.aside ul li { margin-bottom:5px;}
.aside img { border:none;}


/*活动专区*/
.activity { margin:20px 0;}
.activity .wrapper { padding: 30px 20px; width:960px; min-height:600px; background:#fff;}
.activity h1 { line-height:40px; font-size:20px; border-bottom:1px solid #f0f0f0;}
.activity_list li { position:relative; margin-top:10px; padding:10px; background:#f6f6f6; border: 1px dashed #e9e9e9;}
.activity_list li i { position:absolute; top:9px; right:30px; display:block; width:120px; height:30px; border-radius:3px; font-size:18px; line-height:30px; color:#fff; text-align:center;}
.activity_list li i.tips_01 { background:#e59d22;}
.activity_list li i.tips_02 { background:#646464;}


.article { margin-top:10px; border:1px solid #f0f0f0; font-size:16px;}
.article h2 { margin-bottom:20px; padding:45px; background:#fffbe9; height:50px; border-radius:20px; font-size:20px; text-align:center;}
.article h2 small { display:block; padding-top:10px; font-size:14px; color:#969696;}
.article p { margin:0; padding:0 20px; line-height:48px;}

.page_news { padding:30px; text-align:center;}
.page_news a { display:inline-block; padding: 0 30px; font-size:16px; color:#333;}
.page_news a.p_prev { background:url(../images/ico_arrow_left_02.png) no-repeat 0 center;}
.page_news a.p_next { background:url(../images/ico_arrow_right_02.png) no-repeat right center;}

/*.wrapper1{
    width: 900px;
    margin: auto;
}*/


/*在线客服*/
.online1{position:fixed;top:50%;right:20px;z-index:9;}
.online1 a.kf-zx{display:block;width: 92px;height:38px;line-height:38px;background: #3da1e8 url(/public/images/zaixin-new.png) no-repeat 30px 7px;border-radius:2px;padding-left: 61px;color:#fff;font-size:16px;}
.online1 a.kf-zx:hover{background:#42a9f2;}
.online1 a.kf-zx:active{background:#2998e6;}
.lxkf{border:1px solid #d2d2d2;margin:10px 0;padding: 5px 0;background:#fff;}
.online1 span.lxkf-tel{display:block;width: 90px;height: 34px;line-height: 34px;background: url(/public/images/zaixin-new.png) no-repeat 30px -35px;padding-left: 61px;color:#2b2b2b;font-size:16px;}
.online1 span.lxkf-tel1{text-align:center;display:block;}
.saoyi{border:1px solid #d2d2d2;padding:10px 10px 0;background:#fff;}
.saoyi img{display:block;margin:0 auto;}
.saoyi p{height:28px;line-height:28px;font-size:13px;color:#2b2b2b;text-align:center;}


/*奖励中心*/
.tis_invitation { margin-top:10px; padding:0 10px 0 40px; background:url(../images/ico_lamp.png) no-repeat 10px 50%; line-height:40px; border:1px solid #ed5725;}
.form_invitation { padding-left:124px; font-size:16px; }
.form_invitation > div { position:relative; margin-top:15px;}
.form_invitation label { position:absolute; margin-left:-124px;}
.form_invitation input[type="text"] { padding:10px; width:450px; height:20px; border:1px solid #e1e1e1; font-size:16px; }
.form_invitation input[type="button"] { display:inline-block; width:120px; height:40px; background-color: #e59d22; border:none; color:#fff; font-size:16px; text-align:center;}
.pic_qrcord_user { padding:10px; border:3px solid #f2ce90; border-radius:20px;}


/*债券转让*/
.table_07 { margin-top:10px; width:100%; border:none; border-collapse:collapse; font-size:14px; line-height:30px; border:1px solid #f0f0f0;}
.table_07 th,
.table_07 td { font-weight:normal; text-align:center; padding:15px 5px; border-bottom:1px solid #f0f0f0; white-space: nowrap;}
.table_07 th { min-width:40px; background:#fcfcfc; text-align:center;}

.project_summary_2 { margin-top:20px; border: 1px solid #f8f8f8;}
.project_summary_2 dl { height:125px; border-bottom: 1px solid #f8f8f8;}
.project_summary_2 dl dt { margin-bottom:10px; padding: 10px 30px; border-bottom: 1px solid #f8f8f8;}
.project_summary_2 dl dt > div { display:inline-block; *zoom:1; *display:inline;}
.project_summary_2 dl dt span { font-size:14px;}
.project_summary_2 dl dd { float:left; padding:10px 0 0 30px; width:25%;}
.project_summary_2 dl dd strong { display:block;}
.project_summary_2 dl dt,
.project_summary_2 dl strong {font-size:18px;}
.project_summary_2 ul { height:40px; background:#f6f6f6; font-size:12px;}
.project_summary_2 ul li { float:left; padding:10px 0 0 30px; width:25%;}
.project_summary_2 > div { clear:both; line-height:30px; background:#f5faeb; color:#638c0b; text-align:center;}

.summary_2_info { margin-top:10px; background:#f6f6f6; height:85px;}
.summary_2_info li { float:left; font-size:12px; padding:20px 0 0 30px; width:25%;}
.summary_2_info li strong { font-size:12px;}
.summary_2_info li p { padding-top:5px; font-size:22px;}
.btn_area_m { margin-top:20px; text-align:center; }
.btn_area_m .btn_info { width:160px; height:30px; }





